// IMPORTS
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/home.scss';
@import 'components/contact.scss';
@import 'components/gallery.scss';
@import 'components/projects.scss';
@import 'components/services.scss';
@import 'base/variables.scss';
@import 'base/mapas.scss';
@import 'base/extend.scss';
@import 'base/mixin.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.5em;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    text-decoration: none !important; 
    color: black !important;
}
.container{
    max-width: 1400px;
    margin: auto;
}

/* MEDIAS QUERIES */

@media screen and (min-width: 700px){
    header .container{
        flex-direction: row;
    }
    .navbar{
        flex-direction: row;
    }
    footer .container{
        justify-content: flex-end;
    }
    #about img{
        display: flex;
        border-radius: 10px;
        margin:auto;
    }
    #servicios .container .cards{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    #galeria{
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
        grid-auto-rows: 150px;
    }
}
@media screen and (min-width: 1540px){

    #galeria{
        grid-template-columns:repeat(auto-fill,minmax(400px,1fr));
        grid-auto-rows: 200px;
    }
}
@media screen and (min-width: 540px){
    #contact{
        height: 90vh;
    }
    #contact .container{
        margin-top: 20vh;
    }

}
@media screen and (min-width: 790px){
    #services{
        height: 90vh;
    }
    #services .container{
        margin-top: 10vh;
    }
    #proyectos .container{
        margin-top: 10vh;
    }
    #proyectos .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,1fr);
        grid-auto-rows: 1fr;
        justify-items: center;
        gap: 10px;
    }
}