@import '../base/variables.scss';
@import '../base/mapas.scss';
@import '../base/extend.scss';
@import '../base/mixin.scss';

#hero{
    @extend .clase-base;
    text-align: center;
    gap: 5px;
    height: 80vh;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/paisaje1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h2{
        color: rgb(240, 240, 240);
        font-size: 2em; 
        padding: 40px;
        margin-top: 50px;
    }
}

.boton{
    margin-top: 50px;
    padding: 5px 10px;
    font-size: 2rem;
    background-color:#0a9396 ;
    border-radius: 10px;
    @include black-shadow(2px,2px,10px);
    border: 2px solid rgba(0,0,0,0.5);
    font-weight: bold;
    animation: pulse 1s infinite;
}
/* ANIMACION DE PULSO PARA LOS BOTONES */
@keyframes pulse{
    0%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256,256,256,.1);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256,256,256,0);
    }
    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256,256,256,0);
    }
}

#about{
    padding: 20px;
    margin-bottom: 5vh;
    img{
        display: none;
    }
    .container{
        @extend .clase-base;
        width: 70%;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    h1{
        font-size: 2em;
        margin-bottom: 5vh;
    }
}


#servicios{
    padding: 50px;
    background-color: map-get($mapa1, bg-mapa1);
    .container{
        @extend .clase-base;
        .cards{
            @extend .clase-base;
            .card{
                @extend .clase-base;
                background-image:linear-gradient(
                    0deg,
                    rgba(0,0,0,0.5),
                    rgba(0,0,0,0.5)
                )
                ,url("../img/fotografo.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                padding: 50px 70px;
                border-radius: 20%;
                color:rgb(240, 240, 240);
                margin-bottom: 25px; 
                @include black-shadow(5px,5px,4px);
                p{
                    display: none;
                }
                .boton{
                    margin-top: 5px;
                    font-size: 1em;
                }
            }
        }
    }
}

#carrusel{
    background-color:map-get($mapa1, bg-mapa1);;
}
