header {
  background-color: #001219;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .container .titulo {
  font-size: 0.7em;
  padding: 5px;
  color: #0a9396;
}
header .container .navbar {
  width: 100%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 15px;
}
header .container .navbar .botones {
  color: rgb(240, 240, 240) !important;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.2em;
}
header .container .navbar .botones:hover {
  color: #0a9396 !important;
}
@media screen and (min-width: 700px) {
  header .container .navbar {
    flex-direction: row;
  }
}
@media screen and (min-width: 700px) {
  header .container {
    flex-direction: row;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.container {
  max-width: 1400px;
  margin: auto;
}

#hero {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/paisaje1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  color: rgb(240, 240, 240);
  padding: 40px 20px;
  font-size: 2em;
}

.boton {
  padding: 5px 10px;
  font-size: 2rem;
  background-color: #0a9396;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
  animation: pulse 1s infinite;
}

/* ANIMACION DE PULSO PARA LOS BOTONES */
@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
#about {
  padding: 20px;
  margin-bottom: 5vh;
}

#about img {
  display: none;
}

#about .container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about h1 {
  font-size: 2em;
  margin-bottom: 5vh;
}

#servicios {
  padding: 50px;
  background-color: rgb(230, 230, 230);
}

#servicios .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicios .container .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicios .container .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fotografo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 70px;
  border-radius: 20%;
  color: rgb(240, 240, 240);
  margin-bottom: 25px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

#servicios .container .cards .card p {
  display: none;
}

#servicios .container .cards .card .boton {
  margin-top: 5px;
  font-size: 1em;
}

#carrusel {
  background-color: rgb(230, 230, 230);
}

footer {
  background-color: #001219;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer .container a {
  color: rgb(230, 230, 230) !important;
  font-size: 2em;
  padding: 10px;
}

footer .container a:hover {
  color: #0a9396;
}

/* GALERIA HTML */
#galeria {
  background-color: rgb(230, 230, 230);
  display: grid;
  gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 100px;
}

#galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.img2 {
  grid-row: span 2;
  grid-column: 1/3;
}

.img3 {
  grid-row: span 2;
  grid-column: 1/3;
}

/* PROYECTOS HTML */
#projectBody {
  background-color: #0a9396;
}

#proyectos {
  max-width: 1600px;
  padding: 20px;
  margin: auto;
}

.proyecto {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

.proyecto h1 {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
}

.proyecto p {
  margin-top: 20px;
}

/* servicios html */
#services {
  max-width: 1400px;
  padding: 20px;
  margin: auto;
}

#services .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#services .container .servicio {
  min-width: 250px;
  max-width: 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

#services .container .servicio a {
  font-weight: bold;
  margin-top: 10px;
  width: fit-content;
  align-self: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
}

#services .container .servicio a:hover {
  background-color: #0a9396;
  border-radius: 5px;
}

#services .container .servicio h1 {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
}

#services .container .servicio p {
  margin-top: 20px;
}

/* CONTACTO HTML */
#contact {
  width: 100%;
  padding: 20px;
  margin: auto;
  background-color: #0a9396;
}

#contact .container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contact .container div {
  width: 50%;
  min-width: 250px;
}

#contact .container .izquierda {
  border-top: 3px solid black;
  padding: 50px;
  text-align: center;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact .container .izquierda h1 {
  margin-bottom: 20px;
}

#contact .container .derecha {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#contact .container .derecha .color {
  background-color: #0a9396;
  border: 2px solid rgb(7, 7, 7);
  margin-bottom: 10px;
  color: black;
  padding: 5px;
}

#contact .container .derecha .color::placeholder {
  color: black;
}

#contact .container .derecha button {
  background-color: #001219;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

#contact .container .derecha button:hover {
  background-color: #012432;
}

/* MEDIAS QUERIES */
@media screen and (min-width: 700px) {
  header .container {
    flex-direction: row;
  }
  .navbar {
    flex-direction: row;
  }
  footer .container {
    justify-content: flex-end;
  }
  #about img {
    display: flex;
    border-radius: 10px;
    margin: auto;
  }
  #servicios .container .cards {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  #galeria {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 150px;
  }
}
@media screen and (min-width: 1540px) {
  #galeria {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 200px;
  }
}
@media screen and (min-width: 540px) {
  #contact {
    height: 90vh;
  }
  #contact .container {
    margin-top: 20vh;
  }
}
@media screen and (min-width: 790px) {
  #services {
    height: 90vh;
  }
  #services .container {
    margin-top: 10vh;
  }
  #proyectos .container {
    margin-top: 10vh;
  }
  #proyectos .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
